body {
    font-family : Calibri;
    margin : 0 auto;
    width : 1200px;
}

table {
    float : left;
}

div {
    width : 100%;
    float : center;
}

td {
    font-size : 12px
}

#_head {
    width : 100%;
    background-color : #B8B8B8;
}
#_head h2 {
    font-size : 40px;
    margin : 0; 
}
#_head h5 {
    color : white;
}

img {
    width : 50px;
}

/* ***********************************
 * STATISTIQUES
 * **********************************/
a:link {
    color : black;
    text-decoration : none;
}

a.visited {
    color : black;
    text-decoration : none;
}

a:active {
    color : black;
    text-decoration : none;
}

a:hover {
    color : black;
    text-decoration : none;
}  

h3 {
    background-color : black;
    color : white;
    padding : 5px 0 0px 20px;
    margin-top : 10px;
}

h2 {
    margin-bottom : 0;
    text-align : center;
    width : 100%;   
}

h5 {
    color : grey;
    text-align : right;
}
#one-job {
    width : 250px;
}

#one-job-fail {
    width : 250px;
    font-weight : bold;
}

/* ***********************************
 * STATISTIQUES
 * **********************************/
#stat-ok {
    background-color : #4AC431;
    width : 20px;
    height : 20px;
    text-align : center;
    color : white;
}
#stat-ko {
    background-color : red;
    width : 20px;
    height : 20px;
    text-align : center;
    color : white;
}
#stat-warn {
    background-color : orange;
    width : 20px;
    height : 20px;
    text-align : center;
    color : white;
    
}
#stat-dis {
    background-color : grey;
    width : 20px;
    height : 20px;
    text-align : center;
    color : white;
    
}
#stat-unk {
    background-color : black;
    width : 20px;
    height : 20px;
    text-align : center;
    color : white;
    
}
